target/
build/
data/
/.lib/
logs
*~
/.ensime

*.cache
*.classpath
*.project
*.settings/
*.scalastyle
.cache-main
.cache-tests
tags

boot/
lib_managed/
src_managed/
project/plugins/project/
project/project
project/target
.idea/
/bin/

*.swp
*.swo
